@model QuizWebClient.WebQuizMasterService.QuizInstance
@{
    ViewBag.Title = "Deltag i quiz";
}

@if (@Model == null)
{
    <div class="row">
        <div class="col-lg-12">
            <h2>Ingen åben quiz fundet</h2>
            <p>Denne underviser har ingen åben quiz at deltage i.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @Html.ActionLink("Tilbage", "Index", "Default", null, new { @class = "btn btn-default" })
        </div>
    </div>
}
else
{
<div class="row">
    <div class="col-lg-12">
        <h2>@Model.Quiz.Title</h2>
        <p>@Model.Quiz.Description</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        @Html.ActionLink("Deltag", "ContestantLogin", new { id = Model.Id }, new { @class = "btn btn-default" })
    </div>
</div>
}