<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QuizConnectionOld" connectionString="data source=localhost;initial catalog=quizmaster;persist security info=True;user id=quizmaster;password=IsAllowed;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="QuizConnection" connectionString="Data Source=DESKTOP-7FUB8UR\SQLEXPRESS;Initial Catalog=QuizMaster;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>