@{
    ViewBag.Title = "Vent";
    // variables from route, url. Used in script as @Url.Action parameters
    var _quizId = ViewContext.RouteData.Values["quizId"];
    var _contestantId = ViewContext.RouteData.Values["contestantId"];
}


<div class="row">
    <div class="col-lg-12">
        <h2>Vent</h2>
    </div>
</div>

<div class="row">
    <!--Partial view, requested by and replaced by script in bottom of page every 2 seconds-->
    <!--PartialViewResult IsRunning method in Quiz controller-->
    <div class="col-lg-12" id="IsRunning">
        @Html.Action("IsRunning", "Quiz")
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        // Replace content every 2 second inside <div id="IsRunning">X</div>
        // PartialViewResult IsRunning method in Quiz controller
        $(function () {
            setInterval(function () {
                $('#IsRunning').load("@Url.Action("IsRunning", "Quiz", new { quizId = _quizId, contestantId = _contestantId })");
            }, 2000); // every 2 sec
        });
    </script>
}