<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWebQuizMasterService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IQuizMasterService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8732/QuizService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IQuizMasterService" contract="QuizMasterService.IQuizMasterService"
                name="NetTcpBinding_IQuizMasterService">
                <identity>
                    <userPrincipalName value="ASUSk53skHenrik\Henrik Munk Madsen" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/QuizService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWebQuizMasterService"
                contract="QuizMasterService.IWebQuizMasterService" name="BasicHttpBinding_IWebQuizMasterService" />
        </client>
    </system.serviceModel>
  
</configuration>