<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="QuizService.QuizMasterService" behaviorConfiguration="mexBehavior">
        <endpoint address="QuizService" binding="netTcpBinding" contract="QuizService.IQuizMasterService" />
        <endpoint address="QuizService" binding="basicHttpBinding" contract="QuizService.IWebQuizMasterService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8732/" />
            <add baseAddress="http://localhost:8733/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="QuizConnection" connectionString="Data Source=DESKTOP-7FUB8UR\SQLEXPRESS;Initial Catalog=QuizMaster;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <!--<add name="QuizConnection2" connectionString="data source=kraka.ucn.dk;initial catalog=dmaa0215_2Sem_2;persist security info=True;user id=dmaa0215_2Sem_2;password=IsAllowed;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
</configuration>