<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QuizConnection2" connectionString="data source=kraka.ucn.dk;initial catalog=dmaa0215_2Sem_2;persist security info=True;user id=dmaa0215_2Sem_2;password=IsAllowed;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="QuizConnection" connectionString="Data Source=DESKTOP-7FUB8UR\SQLEXPRESS;Initial Catalog=QuizMaster;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>